*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }
h1, p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
@font-face {
    font-family: bahnschrift;
    src: url("../fonts/bahnschrift.ttf");
  }
  @font-face {
    font-family: coolvetica;
    src: url("../fonts/coolvetica\ rg.otf");
  }

body{
    background-color: #fff;
}
header{
    background: rgba(255, 255, 255, 0.9);
    background-image: url("../img/nav-blue.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
	box-shadow: 0 3px rgba(0, 0, 0, 0.3);
    height: 60px;
	display: flex;
	position: sticky;
	top: 0px;
	z-index: 2;
	overflow: unset;
}
nav{
    position: sticky;
    margin-left: 30px;
    width: 100%;
    top: 0;
}
nav ul{
    margin: 18px 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a {
	padding: 18px 35px;
	position: relative;
	text-decoration: none;
	color: #020629;
	font-family: coolvetica;
	text-transform: uppercase;
	font-size: 21.44px;
	letter-spacing: 2px;
}
nav ul li a:after{
	content: "";
	position: absolute;
	background-color: #51bd5a;
	height: 3px;
	width: 0;
	left: 0;
	bottom: 1px;
	transition: 0.3s;
}
nav ul li a.active{
	color: #7abd51;
}
nav ul li a:hover:after{    
	width: 100%;
}
nav ul li a:hover{
    color: #7abd51;
}
.content {
    position: relative;
    width: 100%;
    height: 930px;
    margin-top: -115px;
    justify-content: center;    
    background-repeat: no-repeat;
    animation: cambiarFondo 35s infinite;
    transition: background-image 1s;
  }
  
  @keyframes cambiarFondo {
    0% {
      background-image: url("../img/fade-white.png"), url("../img/background/bg1.png");
    }
    33.33% {
      background-image: url("../img/fade-white.png"), url("../img/background/bg2.png");
    }
    66.66% {
      background-image: url("../img/fade-white.png"), url("../img/background/bg3.png");
    }
    100% {
      background-image: url("../img/fade-white.png"), url("../img/background/bg1.png");
    }
  }
.content .sem-content{
    position: relative;
    padding-top: 182px;
    max-width: 1442px;
    max-height: 815px;
    display: inherit;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.content .sem-content .button-agenda{
    margin: 50px 0 0 75.5px;
    width: 313px;
    height: 78px;
    background-image: url("../img/button-agenda.png");
    background-repeat: no-repeat;
    transition: 0.1s;
    position: relative;
    z-index: 1;
}
.content .sem-content .button-agenda:hover{
    scale: 1.05;
}
.content .sem-content h1 {
    text-transform: uppercase;
    color: #020629;
    font-family: coolvetica;
    font-size: 107.48px;
    white-space: nowrap;
    padding-left: 75.5px;
  }
.content .sem-content p{
    max-width: 721px;
    color: #020629;
    font-family: bahnschrift;
    font-size: 31.4px;
    padding-left: 75.5px;
}
.wsp-fixed{
    padding-bottom: 14px;
    padding-right: 14px;
    list-style: none;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: 0.1s;
    scale: 0.7;
}
.wsp-fixed:hover{
    scale: 0.75;
}
.logo-sem-salud{
    height: 35px;
    width: 284px;
    background-image: url("../img/logo/logo-sem-salud.png");
    float: left;
    transition: 0.5s;
    margin: 12.5px 279px;
}
.logo-sem-salud:hover{
    background-image: url("../img/logo/logo-sem-salud-hover.png");
    transform: scale(0.95);
}
.content .connect-top{
    width: 100%;
    height: 242px;
    background-image: url("../img/connect-top.png");
    margin: 0;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: 0;
}
.work-us{
    background-image: url("../img/bg-div2.png");
    height: 931px;
    width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
}
.work-us .board{  
    height: 466px;  
    width: 100%;
    display: flex;
    justify-content: center;    
    text-align: center;
    padding: 60px 0 0 0;
}
.work-us .board .content-1{
    background-image: url("../img/bg-content-1.png");
    background-repeat: no-repeat;
    height: 390px;
    width: 302px;
    float: left;
    padding: 33px 32px 0 32px;
    transition: 0.2s;
}
.work-us .board .content-1:hover{
    transform: translateY(-5px);
}

.work-us .board .content-2{
    background-image: url("../img/bg-content-2.png");
    background-repeat: no-repeat;
    height: 390px;
    width: 302px;
    float: left;
    padding: 33px 32px 0 32px;
    transition: 0.2s;
}
.work-us .board .content-2:hover{
    transform: translateY(-5px);
}
.work-us .board h1{
    color: #fff;
    font-family: coolvetica;
    font-size: 29.91px;
    text-transform: uppercase;
}
.work-us .board p{
    color: #fff;
    font-family: bahnschrift;
    font-size: 16px;
    text-align: justify;
}
.work-us .board img{
    height: 111px;
    padding-bottom: 28px;
}
.work-us .contact-us{
    height: 466px;
    max-width: 1442px;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: auto;
    font-family: bahnschrift;
    padding: 60px 0 0 0;
}
.work-us .contact-us h1{
    max-width: 906px;
    margin: auto;
    text-transform: uppercase;
    font-size: 57.26px;
}
.work-us .contact-us p{
    max-width: 906px;
    margin: auto;
    font-size: 25px;
    justify-content: center;
}
.work-us .contact-us .button-contact{
    margin: 50px auto;
    width: 305px;
    height: 62px;
    background-image: url("../img/button-contact.png");
    background-repeat: no-repeat;
    transition: 0.1s;
}
.work-us .contact-us .button-contact:hover{
    scale: 1.05;
}
.services{
    background-color: #fff;
    height: 931px;
    width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
}
.services .connect-bottom{
    width: 100%;
    height: 240px;
    background-image: url("../img/connect-bottom.png");
    margin-bottom: -130px;
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}
.services .content-services{
    max-width: 1442px;
    max-height: 466px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.services .content-services .content-text{
    font-family: bahnschrift;
    color: #020629;
    width: 721px;
    padding: 0 75.5px 0 75.5px;
}
.services .content-services .content-text h1{
    text-transform: uppercase;
    font-size: 70.49px;
    margin-top: 26px;
}
.services .content-services .content-text p{
    font-size: 25px;
    text-align: justify;
}
.services .content-services .content-img{
    overflow: hidden;
}
.services .content-services .content-img img{

    position: relative;
    z-index: 0;
}
.teletherapy{
    height: 931px;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 100px 0 0 0;

}
.teletherapy .content-3{
    height: 830px;
    max-width: 1442px;
    margin: auto;
    display: flex;
}
.teletherapy .content-3 .tele-img{
    background-image: url("../img/tele-img.png");
    width: 721px;
    height: 613px;
}
.teletherapy .content-3 .tele-content{
    width: 721px;
    font-family: bahnschrift;
    color: #020629;  
    padding: 0 75.5px 0 75.5px;
}
.teletherapy .content-3 .tele-content h1{
    text-transform: uppercase;
    font-size: 70.49px;
    text-align: center;
}
.teletherapy .content-3 .tele-content {
    font-size: 25px;
    text-align: justify;
}
.teletherapy .footer-img{
    background-image: url("../img/bg-footer.png");
    height: 100px;
    width: 100%;
    bottom: 0;
    position: absolute;   
    overflow: hidden;
    background-repeat: no-repeat;
}
.footer{
    width: 100%;
    max-height: 200px;
    background-color: #003c7c;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.footer .footer-content{
    width: 1442px;
    display: flex;
    justify-content: center;
    padding: 55px 0 30px 0;
    margin: auto;
}
.footer .footer-content .footer-logo{
    justify-content: center;
    width: 721px;
    background-repeat: no-repeat;
}
.footer .footer-content .footer-logo img{
    margin: 0 218.5px 0 218.5px;
    transition: 0.5s;
}
.footer .footer-content .footer-logo img:hover{
    transform: scale(0.95);
    filter: brightness(0) invert(1);
}
.footer .footer-content .footer-text{
    width: 721px;
}
.footer .footer-content .footer-text .footer-text-rss{
    display: flex;
    list-style: none;
    
}
.footer .footer-content .footer-text .footer-text-rss li{
    margin-right: 38px;
}
.footer .footer-content .footer-text .footer-text-rss li a{
    color: #fff;
    font-family: bahnschrift;
    font-weight: lighter;
    text-decoration: none;
    font-size: 14.51px;
}
.footer .footer-content .footer-text .footer-text-rss li a:hover{
    color: #7abd51;
}
.logo-linkedin, .logo-instagram{
    left: 50px;
    position: relative;
    margin-right: -20px;
    transition: 0.5s;
}
.logo-instagram:hover, .logo-linkedin:hover{
    transform: scale(1.1) rotate(360deg);
}
.logo-linkedin{
    background-image: url("../img/logo-linkedin.png");
    height: 24px;
    width: 24px;
    float: right;
}
.logo-instagram{
    background-image: url("../img/logo-instagram.png");
    height: 24px;
    width: 24px;
    float: right;
}
.footer .footer-content .footer-text .footer-copy-rights{
    margin-top: 31px;
    color: #fff;
    font-family: bahnschrift;
}
.footer .footer-content .footer-text .footer-copy-rights h1{
    font-size: 14.77px;
    text-transform: uppercase;
    font-weight: lighter;
    opacity: 1;
    transform: translateY(-20px);
}
.footer .footer-content .footer-text .footer-copy-rights p{
    font-size: 11px;
    color: #929eb7;
    font-weight: lighter;
    opacity: 1;
    transform: translateY(-20px);
}
.next {
    display: none;
}
.prev {
    display: none;
}

/* responsive */
@media (max-width: 1340px) {
    header{
        background-image: none;
    }
    .logo-sem-salud{
        display: none;
    }
    .wsp-fixed{
      padding-bottom: 14px;
      padding-right: 14px;
      list-style: none;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 2;
      transition: 0.1s;
      scale: 0.7;
  }
}
#toggle-nav {
    display: none;
}
@media (max-width: 768px) {
    header {
        background-image: none;
        flex-direction: column;
        align-items: center;
      }
      header li{
        list-style: none;
      }
      .logo-sem-salud{
        display: none;
      }
      nav ul {
        flex-direction: column;
        margin: 0;
      }
      nav li {
        margin-right: 0;
        margin: 5px 0 5px 0;
        list-style: none;
      }
      nav li:hover {
        background-color: #ffffff13;
      }
      #nav {
        display: none;
      }
      #toggle-nav {
        cursor: pointer;
        display: block;
        position: relative;
        margin: 5px auto;
        margin-right: 20px;
        font-size: 50px;
        color: #020629;
      }
      header #nav.show {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
        position: relative;
        top: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
      }
      #nav a{
        color: #020629;
        margin: auto;
        padding: 0;
        width: 100%;
      }
      #nav a.active{
        color: #7abd51;
      }
      .wsp-fixed{
        padding-bottom: 14px;
        padding-right: 14px;
        list-style: none;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 2;
        transition: 0.1s;
        scale: 0.7;
    }
      .work-us .board {
        position: relative;
        width: 100%;
        height: 466px;
        overflow: hidden;
        margin: 0 auto;
        justify-content: center;
      }
      
      .work-us .board .content-1,
      .work-us .board .content-2{
        position: absolute;
        width: 302px;
        height: 390px;
        padding: 32px 32px 0 32px;
        transition: filter 0.3s, transform 0.3s; /* Add transition effect */
        z-index: 1;
      }
      .work-us .board .content-1:not(.active),
.work-us .board .content-2:not(.active) {
    filter: blur(5px);
    transform: scale(0.9);
    opacity: 0.9;
    right: 50px;
    z-index: 0;

}
      .work-us .board .content-1:not(.active):nth-child(1),
      .work-us .board .content-2:not(.active):nth-child(1) {

      right: 50px;
      z-index: 0;
      }
      .work-us .board .content-1:not(.active):nth-child(2),
.work-us .board .content-2:not(.active):nth-child(2) {

    left: 50px;
    z-index: 0;
}
      .next {
        display: flex;
        height: 45px;
        width: 45px;
        top: 50%;
        right: 130px;
        position: absolute;
        background-image: url('../img/button-next.png');
        background-size: cover;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        transform: scaleX(-1);
        border: none;
        opacity: 70%;
        z-index: 1;
      }
      .next:hover {
        opacity: 100%;
      }
      .prev {
        display: flex;
        height: 45px;
        width: 45px;
        top: 50%;
        left: 130px;
        position: absolute;
        background-image: url('../img/button-next.png');
        background-size: cover;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        opacity: 70%;
        z-index: 1;
      }
      .prev:hover {
        opacity: 100%;
      }
      .work-us .board .active {
        display: block;
      }
      .work-us .contact-us{
        width: 570px;
        margin: auto;
      }
      .work-us .contact-us .button-contact{
        position: relative;
        margin: 25px auto;
      }
      .services {
        height: 100%;
      }
      .services .content-services{
        width: 100%;
      }
      .services .content-services .content-img{
        display: none;
      }
      .services .content-services .content-text{
        padding-top: 100px;
        margin: 0 auto;
      }
      .teletherapy{
        height: 100%;
      }
      .teletherapy .content-3{
        width: 100%;
      }
      .teletherapy .content-3 .tele-img{
        display: none;
      }
      .teletherapy .content-3 .tele-content{
        margin: 0 auto;
        width: 100%;
      }
      .footer{
        width: 100%;
      }
      .footer-content{
        display: flex;
        flex-direction: column;
        width: 570px;
      }
      .footer .footer-content .footer-text{
        width: 570px;
        margin: 20px 99px 0 99px;
      }
    }
    @media (max-width: 428px){

      .wsp-fixed{
        padding-bottom: 15px;
        padding-right: 5px;
        position: fixed;
        right: 0;
        bottom: 0;
        scale: 70%;
      }
      .content{
        height: 100%;
      }
    .content .sem-content{
      width: 100%;
      overflow: hidden;
      padding: 182px 47px 0 47px;
    }
    .content .sem-content h1{
      font-size: 50px;
      padding: 0;
      text-align: center;
    }
    .content .sem-content p{
      padding: 0;
      text-align: justify;
      font-size: 20px;
    }
    .content .sem-content a .button-agenda{
      margin: 50px auto;

    }
    .work-us{
      width: 100%;
      overflow: hidden;
      
    }
    .next{
      right: 30px;
    }
    .prev{
      left: 30px;
    }
    .work-us .contact-us{
      width: 100%;
      padding: 30px 47px 0 47px;
    }
    .work-us .contact-us h1{
      font-size: 40px;
    }
    .work-us .contact-us p{
      font-size: 20px;
    }
    .services{
      overflow: hidden;
    }
    .services .content-services .content-text{
      padding: 100px 47px 0 47px;
    }
    .services .content-services .content-text h1{
      font-size: 50px;
    }
    .services .content-services .content-text p{
      font-size: 20px;
    }
    .teletherapy{
      width: 100%;
      overflow: hidden;
      height: 50%;
    }
    .teletherapy .content-3{
      width: 100%;
    }
    .teletherapy .content-3 .tele-content{
      margin: 0 auto;
      width: 100%;
      padding: 0 47px 0 47px;
    }
    .teletherapy .content-3 .tele-content h1{
      font-size: 50px;
    }
    .teletherapy .content-3 .tele-content p{
      font-size: 20px;
    }
    .footer{
      width: 100%;
      overflow: hidden;
      height: 200px;
    }
    .footer .footer-content{
      justify-content: center;
      padding-top: 20px;
      width: 100%;
    }
    .footer .footer-content .footer-logo{
      width: 100%;
    }
    .footer .footer-content .footer-logo a{
      display: block;
    }
    .footer .footer-content .footer-logo img{
      width: 100%;
      margin: auto;
      scale: 70%;
    }
    .footer .footer-content .footer-text{
      max-width: 100%;
      padding: 0 20px 0 20px;
      margin: auto;
    }
    .footer .footer-content .footer-text .footer-text-rss li{
      text-align: center;
      width: 100%;
      margin-right: 10px;
    }
    .logo-linkedin, .logo-instagram{
      left: 0;
      margin-right: 0;
      margin: auto;
    }
    .footer .footer-content .footer-text .footer-copy-rights{
      text-align: center;
      margin-top: 30px;
    }
    }